<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"></properties>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="tk.mybatis"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <!--<property name="url" value="jdbc:oracle:thin:@192.9.206.21:1521:orcl"/>-->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql" />
        <property name="Oracle" value="oracle" />
    </databaseIdProvider>

    <mappers>
        <mapper resource="test/xml/CountryMapper.xml"/>
        <mapper resource="test/xml/SysPrivilegeMapper.xml"/>
        <mapper resource="test/xml/SysRoleMapper.xml"/>
        <mapper resource="test/xml/SysUserMapper.xml"/>
        <mapper resource="test/xml/SysPrivilegeMapper.xml"/>
        <mapper resource="test/xml/SysUserRoleMapper.xml"/>
        <mapper resource="test/xml/DeptMapper.xml"/>
        <mapper resource="test/xml/EmpMapper.xml"/>
    </mappers>
</configuration>
